/*svg styles are in dist/css/svg.css*/
%txt{ /*all <p>*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #e8e8e8;
    line-height: 26px;
}
%bhromaon{ /*Screen 1 main  title*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}
%bhromaon-small{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
%placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #999;
}
%title{/*why choose us / What Our Tourist Say*/
    font-family: 'Aleo', serif;
    font-size: 36px;
    text-transform: capitalize;
    color: #fff;
}
%title1{/*Sam Sumon / Grand Spain Madrid*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
%title2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 5px;
    color: #fff;
    text-transform: capitalize;
}
%title3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.075rem;
    color: #fff;
    text-transform: capitalize;
}
%btn{ /*all buttons but not submit*/
    width: 225px;
    height: 60px;
    background-color: #496bfe;
    a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        &:hover{
            color: #999;
        }
        p{
            font-family: 'Aleo', serif;
            font-size: 16px;
            letter-spacing: 0.075em;
        }
    }
}
$bgscreen1: url(bg/bg0.png);
$bgscreen2: #5474fd;
$bgscreen3: url(bg/bg1.png);
$bgscreen4: url(bg/bg2.png);
$bgscreen5: url(bg/bg3.png);
$bgscreen6: url(bg/bg4.png);
$bgscreen7: url(bg/bg5.png);
$bgscreen8: #232323;
body{
    padding: 15px;
    margin: 0;
    scroll-behavior: smooth;
    transition: all .3s ease-in;
}
h1,h2,h3, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
i{
    display: block;
    position: absolute;
    z-index: 1;
}
section{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;  
    justify-content: center;
    >div{
        width: 1110px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        
    }
}
.screen1__wrapper{
    min-height: 740px;
    background: $bgscreen1;
    background-repeat: no-repeat;
    background-size: cover;
    .screen1{
        width: 650px;
        text-align: center; 
        margin-top: 135px;
        &__title h1{
            @extend %bhromaon;
        }
        &__subtitle{
            @extend %title2;
            margin-bottom: 50px;
            margin-top: 10px;
        }
        &__form{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            width: 100%;
            height: 56px;
            box-sizing: border-box;
            border: 2px solid #fff;
            margin-bottom: 120px;
        }
        &__input{
            border: none;
            height: 52px;
            width: 500px;
            padding-left: 118px;
            box-sizing: border-box;
            input::placeholder{
                @extend %placeholder;
            }
        }
        &__btn{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            text-transform: uppercase;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 0.2rem;
            color: #fff;
            border: none;
            background-color: #5474fd;
            width: 146px;
            height: 52px;
            position: relative;
            &:hover{
                color: #999;
            }
        }
        &__scroll{
            cursor: pointer;
            p{
                font-family: 'Josefin Sans', sans-serif;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 2px;
                color: #fff;
                text-transform: capitalize;
            }
            a{
                text-decoration: none;
            }
            &:hover{
                opacity: .5;
            }
        }
    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $bgscreen2;
    height: 80px;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1110px;
    }
    &__logo h2{
        @extend %bhromaon-small;
        font-size: 24px;
    }
    &__chck{
        display: none;
    }
    &__label{
        display: none;
    }
    &__ul{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0;
    }
    &__li{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        + li{
            margin-left: 44px;
        }
        a{
            font-family: 'Aleo', serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #999;
            }
        }
    }
}
.screen3__wrapper{
    background: $bgscreen3;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 685px;
    .screen3{
        width: 1110px;
        height: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-top: 55px;
        &__left{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            min-height: 350px;
            height: 100%;
            width: 540px;
            margin-right: 95px;
        }
        &__title{
            @extend %title;
        }
        &__txt{
            @extend %txt;
            width: inherit;
        }
        &__btn{
            @extend %btn;
        }
        &__right{
            width: 475px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        &__img1{
            margin-right: auto;
            margin-bottom: 5px;
        }
        &__img2{
            margin-left: auto;
        }
    }
}
.screen4__wrapper{
    min-height: 337px;
    background: $bgscreen4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .screen4{
        &__ul{
            list-style: none;
            display: flex;
            flex-flow: row nowrap;
            width: 1110px;
            justify-content: space-around;
            align-items: center;
            padding: 0;
        }
        &__li{
            width: 220px;
            height: 120px;
            a{
                text-decoration: none;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                &:hover p,
                &:focus p{
                    color: #999;
                }
                p{
                    font-family: 'Aleo', serif;
                    font-size: 36px;
                    color: #fff;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.screen5__wrapper{
    background: $bgscreen5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 700px;
    box-sizing: border-box;
    .screen5{
        width: 1110px;
        height: 700px;
        padding-top: 230px;
        box-sizing: border-box;
        &__inner{
            background-color: #2e2826;
            opacity: .9;
            width: 540px;
            min-height: 370px;
            height: 100%;
            padding: 50px 30px;
            box-sizing: border-box;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            margin-right: auto;
            margin-bottom: 100px;
        }
        &__subtitle h3{
            @extend %title3;
        }
        &__title h2{
            @extend %title1;
        }
        &__txt p{
            @extend %txt;
        }
        &__btn{
            @extend %btn;
        }
    }
}
.screen6__wrapper{
    background: $bgscreen6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 700px;
    box-sizing: border-box;
    .screen6{
        width: 1110px;
        height: 700px;
        padding-top: 100px;
        padding-bottom: 230px;
        box-sizing: border-box;
        &__inner{
            background-color: #2e2826;
            opacity: .9;
            width: 540px;
            min-height: 370px;
            height: 100%;
            padding: 50px 30px;
            box-sizing: border-box;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            margin-left: auto;
        }
        &__subtitle h3{
            @extend %title3;
        }
        &__title h2{
            @extend %title1;
        }
        &__txt p{
            @extend %txt;
        }
        &__btn{
            @extend %btn;
        }
    }
}
.screen7__wrapper{
    background: $bgscreen7;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 730px;
    display: table;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    .screen7{
        display: table-cell;
        vertical-align: middle;
        &__title{
            margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        &__title h2{
            @extend %title;
            text-align: center;
        }
        &__inner{
            width: 1110px;
            display: flex;
            flex-flow: row nowrap;
            background-color: #333;
            margin: auto;
        }
        &__description{
            vertical-align: middle;
            width: 650px;
            height: inherit;
            margin-left: 60px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
        }
        &__subtitle h2{
            @extend %title1;
        }
        &__txt{
            @extend %txt;
            text-indent: 16px;
        }
    }
}
.footer{
    background-color: #232323;
    width: 100%;
    min-height: 265px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 120px 15px 50px 15px;
    box-sizing: border-box; 
    &__title{
        @extend %bhromaon-small;
        margin-bottom: 1rem;
    }
    &__txt{
        @extend %txt;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &__icons{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 166px;
        a{
            width: 16px;
            height: 16px;
        }

    }
}/*adaptation styles*/
/*@media for screen1*/
@media only screen and (max-width: 800px){
    .screen1__wrapper{
        .screen1{
            width: 100%;
            &__form{
                width: 90%;
            }
            &__input{
                width: 80%;
                padding-left: 5px;
            }
            &__btn{
                width: 20%;
                text-align: center;
                p{
                    font-size: 10px;
                }
            }
        }
    }
}
/*@media for header*/
@media only screen and (max-width: 800px){
    .header{
        position: relative;
        height: 160px;
        padding: 20px 0;
        &__ul{
            display: none;
        }
        &__nav{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
        }
        &__label{
            display: block;
            align-self: center;
            width: 48px;
            height: 48px;
        }
        input[type="checkbox"]:checked ~ .header__ul{
            display: flex;
            width: 100%;
            flex-flow: column nowrap;
            position: absolute;
            top: 200px;
            background-color: #5474fd;
            .header__li{
                height: 60px;
                @extend %bhromaon-small;
                + li{
                    margin-left: 0;
                }
            }
        }
    }
}
/*@media for screen3*/
@media only screen and (max-width: 1170px){
    .screen3__wrapper{
        .screen3{
            width: 100%;
            flex-flow: column nowrap;
            text-align: center;
            &__left{
                align-items: center;
                margin: 0 0 20px 0;
            }
            &__right{
                flex-flow: row nowrap;
                margin-bottom: 60px;
            }
            &__img1{
                margin-bottom: 0;
            }
            &__img2{
                margin-left: 20px;
            }
        }
    }
}
@media only screen and (max-width: 800px){
    .screen3__wrapper{
        .screen3{
            &__right{
                flex-flow: column nowrap;
                align-items: center;
            }
            &__img1{
                margin: 0;
                margin-bottom: 20px;
            }
            &__img2{
                margin: 0;
            }

        }
    }
}
@media only screen and (max-width: 540px){
    .screen3__wrapper{
        .screen3{
            &__left{
                width: 100%;
                padding: 0 10px;
                box-sizing: border-box;
            }
        }
    }
}
@media only screen and (max-width: 400px){
    .screen3__wrapper{
        .screen3{
            width: 100%;
            &__right{
                width: 100%;
            }
            &__img1 img{
                width: 100%;
                height: auto;
            }
            &__img2 img{
                width: 100%;
                height: auto;
            }
        }
    }
}
/*@media for screen4*/
@media only screen and (max-width: 800px){
    .screen4__wrapper{
        padding: 60px 0 100px 0;
        box-sizing: border-box;
        background-size: 10000%;
        .screen4{
            &__ul{
                flex-flow: column nowrap;
                box-sizing: border-box;
                margin: 0;
                li{
                    height: 200px;
                    .screen4__search{
                        width: 100px;
                        height: 100px;
                    }
                    .screen4__mark{
                        width: 100px;
                        height: 100px;
                    }
                    .screen4__finger-up{
                        width: 100px;
                        height: 100px;
                    }
                }
            }

        }
    }
}
/*@media for screen5*/
@media only screen and (max-width: 800px){
    .screen5__wrapper{
        padding-bottom: 100px;
        padding-top: 230px;
        box-sizing: border-box;
        .screen5{
            padding: 0;
            &__inner{
                margin: auto;
            }
        }
    }
}
@media only screen and (max-width: 590px){
    .screen5__wrapper{
        .screen5{
            &__inner{
                width: 100%;
            }
        }
    }
}
/*@media for screen6*/
@media only screen and (max-width: 800px){
    .screen6__wrapper{
        padding-bottom: 100px;
        padding-top: 230px;
        box-sizing: border-box;
        .screen6{
            padding: 0;
            &__inner{
                margin: auto;
            }
        }
    }
}
@media only screen and (max-width: 590px){
    .screen6__wrapper{
        .screen6{
            &__inner{
                width: 100%;
            }
        }
    }
}
/*@media for screen7*/
@media only screen and (max-width: 800px){
    .screen7__wrapper{
        .screen7{
            width: 100%;
            &__inner{
                padding: 10px;
                margin-bottom: 80px;
                box-sizing: border-box;
                width: 470px;
                flex-flow: column nowrap;
                align-items: center;
                text-align: center;
            }
            &__description{
                margin: 0;
                width: 100%;
            }
            &__txt{
                width: 100%;
                p{
                    text-align: center;
                }
            }
            &__title{
                margin-top: 80px;
                text-align: center;
            }
            &__subtitle{
                margin-top: 20px;
            }
        }
    }
}
@media only screen and (max-width: 520px){
    .screen7__wrapper{
        .screen7{
            width: 100%;
            &__inner{
                width: 100%;
            }
            &__description{
                width: 100%;
            }
            &__txt{
                width: 100%;
            }
            &__img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}